<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MusicHapticsSupported</key>
	<true/>
	<key>NSBonjourServices</key>
	<array>
		<string>_specs._tcp</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>siri</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Assistant</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).openAssistant</string>
		</dict>
	</array>
</dict>
</plist>
